:root {
  --logo-text: 'Raleway', sans-serif;
  --primary-text: 'Roboto', sans-serif;
  --color-title: #2e2f42;
  --discription-tex-color: #434455;
  --primary-button-bg: #4d5ae5;
  --primary-button-color: #ffffff;
  --primary-button-filter-bg: #f4f4fd;
  --batton-hover-bg: #404bbf;
}

/* ===============DROPPING DEFULT STYLE================= */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-top: 0;
}

ul,
ol {
  margin-top: 0;
  margin-top: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ===============/DROPPING DEFULT STYLE================= */

/* ===============COMPONENTS================= */
body {
  font-family: var(--primary-text);
  color: #434455;
  background-color: #ffffff;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
}

.discription-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--discription-tex-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-title);
}

/*===============/COMPONENTS===============*/

/* ===============LOGO=============== */

.logotype {
  font-family: var(--logo-text);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 76px;
  padding: 24px 0 24px;
}

.logotype-part-header {
  color: #2e2f42;
}

.logotype-part-footer {
  color: #f4f4fd;
}
/* ===============/LOGO=============== */

/* ===============HEADER - Navigation end contacts=============== */
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-title);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--batton-hover-bg);
}

.page-header-container {
  display: flex;
  align-items: baseline;
  padding-top: 24px;
  border-bottom: #e7e9fc 1px solid;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-nav {
  display: flex;
  align-items: baseline;
}

.navigation {
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  padding: 24px 0 24px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}
.contacts {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: var(--batton-hover-bg);
}

.phone-link-item {
  margin-right: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-section {
  display: flex;
  align-items: center;
  margin-left: auto;
}
/* ===============/HEADER - Navigation end contacts=============== */

/* ===============MAIN PAGE=============== */

/* ===============Hero=============== */
.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  flex-direction: column-reverse;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  margin-top: 45px;
  padding: 16px 8px 16px 8px;
  gap: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-button-bg);
  color: var(--primary-button-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--batton-hover-bg);
}

.button-filter {
  background-color: var(--primary-button-filter-bg);
  color: var(--primary-button-bg);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--primary-button-color);
}

/* ===============GOALS=============== */
.goals-section {
  padding: 120px 0 120px;
  gap: 24px;
}

.goals-section-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.goals-title {
  margin-bottom: 8px;
}

/* ============= WHAT ARE WE DOING============ */
.doing-section {
  padding-bottom: 120px;
  margin-top: 72px;
}

.work-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 72px;
}

.work-card {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.work-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

/* ==================TEAM==================== */

.team-section {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-section-title {
  margin-bottom: 72px;
}
.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 24px;
  background-color: #f4f4fd;
}

.bio-card-background {
  background-color: #ffffff;
}
.bio-card {
  margin-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
}

/* ===============/MAIN PAGE=============== */

/* ===============FOOTER=============== */
.footer {
  background-color: #2e2f42;
}

.discription-text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* ===============/FOOTER=============== */

/* ==============PORTFOLIO============== */

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-card {
  margin-bottom: 48px;
  border-bottom: #e7e9fc 1px solid;
  border-right: #e7e9fc 1px solid;
  border-left: #e7e9fc 1px solid;
}
.menu-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

.btn-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
}

.portfolio-section {
  margin-top: 120px;
}

.footer {
  background: #2e2f42;
  height: 312px;
}
.footer-text {
  width: 264px;
  margin-top: 140px;
  margin-bottom: 100px;
  margin-left: 156px;
  margin-right: auto;
}
.footer-logo-text {
  margin-left: 156px;
  margin-right: auto;
  padding-bottom: 16px;
}
